/* Paleta de Cores */
:root {
  --cor-primaria: #F2163E; /* Vermelho - Cor principal para o cabeçalho e rodapé */
  --cor-fundo-menu: #ffffff; /* Roxo - Cor de fundo para o menu */
  --cor-texto-menu: #011126; /* Branco - Cor do texto no menu */
  --cor-fundo-body: #011126; /* Azul Escuro - Cor de fundo para o corpo da página */
  --cor-texto-body: #F2F2F2; /* Cinza - Cor do texto no corpo da página */

  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--cor-fundo-body);
  color: var(--cor-texto-body);
  width: 100%;
}

main {
  display: inline;
}

section {
  width: 100%;
  height: 20em;
}

section > div {
  width: 50%;
}

section#home {
  background-color: var(--cor-fundo-menu);
  position: relative;
  color: black;
}

section#home > div{
  position: absolute;
  left: 25%;
  top: 25%;
}

section#home > div > p {
  margin: 10px;
}

section#home > div > a {
  background-color: red;
  border-radius: 20px;
  color: white;
  padding: 10px;
  margin: 10px;
}

header {
  background-image: url("/imagens/imagem.png");
  height: 5em;
  text-align: center;
}

header img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  display: inline;
  margin: 0 10px;
}

div#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

div#header > h1,
div#header > p,
a {
  white-space: nowrap;
}

main {
  padding: 0;
}

section#sobre {
  display: flex;
  flex-wrap: wrap;
}

/* Adicione estas regras ao seu arquivo styles.css */

section#sobre > div#sobre_texto {
  display: flex;
  flex-direction: row-reverse; /* Reverte a direção do flex */
  justify-content: flex-start; /* Alinha os itens no início da linha */
  align-items: center; /* Alinha os itens verticalmente */
  flex-wrap: wrap; /* Permite que os itens quebrem em várias linhas */
  align-content: center; /* Alinha as linhas verticalmente */
  width: 50%; /* Define a largura da div */
  height: auto; /* Altura automática */
}

section#sobre > div#sobre_texto > p {
  width: 50%; /* Define a largura de cada parágrafo */
  box-sizing: border-box; /* Inclui padding e borda na largura */
  padding: 10px; /* Espaçamento interno para os parágrafos */
}

div.imagem {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section#sobre > div > picture > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* Seção de estilos para os serviços e mensagens */
section#servicos,
section#mensagem {
  background-color: var(--cor-fundo-menu);
  color: black;
}

p.titulo {
  color: var(--cor-primaria);
}

section#servicos > p#fazemos {
  display: block;
}

section#servicos > h2{
  display: block;
  font-weight: bolder;
}
footer {
  background-color: var(--cor-primaria);
  color: white;
  text-align: center;
  padding: 10px;
}
